<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="section footer-classic context-dark bg-image">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4"><a class="brand" href="products">
                    <div class="nav__logo">Bookelk</div>
                </a>
                    <p>Leap Ahead</p>
                    <p class="rights">2020 Bookelk. All
                        Rights Reserved.</p>
                </div>
            </div>
            <div class="col-md-4 footer-top">
                <h5>Contacts</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>2200 Mission College Blvd. Santa Clara, CA 95054-1549 USA</dd>
                </dl>
                <dl class="contact-list">
                    <dt>Email:</dt>
                    <dd><a class="footer-contacts" href="#">bookelk@gmail.com</a></dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3 footer-top">
                <dl class="contact-list">
                    <dt>Phones:</dt>
                    <dd><a class="footer-contacts" href="#">(408) 765-8080</a>
                    </dd>
                </dl>
                <dl class="contact-list">
                    <dt>Social networks:</dt>
                    <div class="row social-row">
                        <a href="#"><i class="fab fa-facebook-f social"></i></a>
                        <a href="#"><i class="fab fa-instagram social"></i></a>
                        <a href="#"><i class="fab fa-twitter social"></i></a>
                        <a href="#"><i class="fab fa-google social"></i></a>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</footer>
</body>
</html>